html 
    head    
        title #{title}
        link(rel="stylesheet", href="styles.css")
    body
        header 
         .pill-nav
          a.active(href="#home") Home
          a(href="#news") News
          a(href="#contact") Contact
          a(href="#about") About
        
        block content