doctype html
html
  head
    title Recipe Swap
    link(rel="stylesheet", href="/styles.css")
  body
    nav.pill-nav 
     a.logo(href="/") RecipeSwap
     a.active(href="/") Home
     a(href="/users") Users
     a(href="/contact") Contact
     a(href="/about") About

    .container
      block content
    