extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a.active(href="/reviews") Reviews
    if isAdmin
      a.primary Admin
      a(href="/users") Users
      
    if loggedIn
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") Swaps
      a(href="/logout") Logout
    else  
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up

  h1 Register here

  form(action="/set-password", method="POST")
    label(for="username") Enter your username:
    input(type="text", name="username", required=true)

    br
    br

    label(for="email") Enter your email:
    input(type="email", name="email", required=true)

    br
    br

    label(for="password") Enter your password:
    input(type="password", name="password", required=true)

    br
    br

    input(type="submit", value="Submit")