extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a.active(href="/reviews") Reviews
    if isAdmin
      a.primary Admin
      a(href="/users") Users
      a(href="/allswaps") All Swaps
    if loggedIn
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") My Swaps
      a(href="/logout") Logout
    else  
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up
  br
  a.btn.active(href="/") Back to Homepage
  br
  h1 Login here

  form(action="/authenticate", method="POST")
    label(for="username") Enter your username:
    input(type="text", name="username", required=true)

    br
    br

    label(for="password") Enter your password:
    input(type="password", name="password", required=true)

    br
    br

    input(type="submit", value="Submit")