extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a.active(href="/reviews") Reviews
    if isAdmin
      a.primary Admin
      a(href="/users") Users
      a(href="/allswaps") All Swaps
    if loggedIn
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") Swaps
      a(href="/logout") Logout
    else  
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up

 
  a.btn.active(href="/recipes") Back to all Recipes
    

  h1 Request Swap
  p You want to swap for: #{targetRecipe.recipe_title}

  form(method="POST", action="/recipes/" + targetRecipe.recipe_id + "/swap")
    label(for="offered_recipe_id") Choose one of your recipes:
    select(name="offered_recipe_id", id="offered_recipe_id")
      each item of offeredRecipes
        option(value=item.recipe_id)= item.recipe_title

    button(type="submit") Send Swap Request