extends layout

block content
  body
   nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a.active(href="/") Home
    a(href="/users") Users
    a(href="/recipes") Recipes
    a(href="/tags") Categories 
    a(href="/reviews") Reviews
    
    span.nav-spacer
    
    a.logonbtn(href="/signin") Sign in
    a.logonbtn.primary(href="/signup") Sign up

  h2.page-title Recipes tagged: #{tag_name}

  if recipes && recipes.length
    .card-grid
      each recipe in recipes
        .card
          h3= recipe.recipe_title
          p= recipe.summary
          a.btn(href=`/recipes/${recipe.recipe_id}`) View Recipe
  else
    p No recipes found for this tag.