extends layout 
block content
  nav.pill-nav 
     a.logo(href="/") RecipeSwap
     a(href="/") Home
     a.active(href="/users") Users
     a(href="/recipes") Recipes
     a(href="/about") About 

  h2.page-title Users

  .card-grid
    each user in users
      .card
        h3= user.username
        p= user.email_address
        a.btn(href=`/users/${user.user_id}`) View Profile